body {
    background-color: antiquewhite;
}

header.css-1avcm0n.e8zbici2  {
    background-color: antiquewhite;
}
div.css-1eup5c7.e1tzin5v0   {
    gap: 5rem;
    border-color: whitesmoke;
    border-width: 5px;
    border-style: solid;
}